.blog-news-wrapper {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.blog-top-posts {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    height: 500px;
    margin-bottom: 4rem;

    @include media-breakpoint-down(lg) {
        display: flex;
        flex-direction: column;
    }
}
