.blog-news-item {
    display: flex;
    gap: 2rem;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }
    &__picture {
        justify-content: flex-start;
        height: 12rem;

        object-fit: contain;
    }

    &__link {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $primary;
        }
    }

    &__heading {
        font-size: 1.3rem;
    }

    &__end {
        display: flex;
        flex-direction: column;
    }

    &__meta {
        display: flex;
        margin-top: auto;
        gap: 3.5rem;
        color: rgba($black, 0.4);
    }
}
