.heading {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    margin-bottom: 3rem;
    position: relative;

    &::after {
        content: "";
        height: 4px;
        width: 65px;
        display: block;
        background-color: #0f1137;

        position: absolute;
        top: 3rem;
    }
}

.simple-heading-title {
    font-size: 1.7rem;
}
