.post-card {
    overflow: hidden;
    position: relative;
    @include media-breakpoint-up(lg) {
        &:nth-child(1) {
            grid-row: 1 / span 2;
        }

        &:nth-child(4) {
            grid-row: 1 / span 2;
            grid-column: 3 / 4;
        }
    }
    @include media-breakpoint-down(lg) {
        height: 250px;
    }
    &__img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
    }

    &__text {
        position: absolute;
        z-index: 10;
        bottom: 2rem;
        padding-left: 1.5rem;
        color: #fff;
        font-size: 0.9rem;
    }
}
